/* cores:
cor-01 #0638ae
cor-02 #0850ce
cor-03 #0569ee
cor-04 #4485ff
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

body {
    height: 100%;
    background-image: url(img/bacground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: #0E2F4E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 90vw;
    padding: 20px;
    font-size: 2em;
}

.portfolio {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.img_portfolio {
    width: 50vw;
    height: 50%;
}

.img_portfolio h1 {
    font-size: 3em;
    color: white;
    margin: 5px;
}

.img_portfolio img {
    width: 70%;
    height: 70vh;
    border-radius: 10px;
}

.icons_portfolio {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 20px;
    padding: 20px;
    width: 50vw;
    height: 50%;
}

.icons_portfolio h2 {
    padding-left: 25px;
}

.portfolio .icons_portfolio a {
    text-decoration: none;
    text-align: center;

    background-color: transparent;
    cursor: pointer;
}

.icons_portfolio button {
    display: flex;
    background-color: #FDFE4A;
    width: 300px;
    height: 60px;
    margin: 30px;
    padding: 20px;
    transition: 0.5s;
    color: black;
    justify-content: space-between;
    text-align: center;
    border: none;
    border-radius: 10px;
}

.portfolio .icons_portfolio button i,.portfolio .icons_portfolio button p {
    font-size: 20px;
    color: black;
}

.portfolio .icons_portfolio button:hover {
    background-color: black;
}

.portfolio .icons_portfolio button:hover i, .portfolio .icons_portfolio button:hover p {
    color: white;
}

.portfolio .icons_portfolio a p {
    text-align: justify;
    padding-left: 25px;
}

footer p {
    text-align: center;
    padding: 2px;
}

/* media query for smartphone */
@media screen and (max-width: 480px)
 {
    .portfolio {
        display: block;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}
